<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @materialtype.name %>
</p>

<%= link_to 'Edit', edit_materialtype_path(@materialtype) %> |
<%= link_to 'Back', materialtypes_path %>
