<div class="col-sm-12  <%= I18n.locale.to_s %>">
  <div class="panel panel-default">




    <div class="panel-body">

      <h2 class="pagetitle"><%= @thispage.title %></h2>



<%= @thispage.body %>


 </div></div></div>





