<div class="col-sm-12  <%= I18n.locale.to_s %>">
  <div class="panel panel-default">




    <div class="panel-body">



          <h3><%= @terms.title %></h3>
          <%= raw @terms.body %>

    </div></div></div>





