<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trainlanguage.name %>
</p>

<%= link_to 'Edit', edit_trainlanguage_path(@trainlanguage) %> |
<%= link_to 'Back', trainlanguages_path %>
