<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site_document.name %>
</p>

<%= link_to 'Edit', edit_site_document_path(@site_document) %> |
<%= link_to 'Back', site_documents_path %>
